<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro de Sesión</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <form>
      <h2>Registrarse en AppoMSV <span class="material-icons">pets</span> {{ responseFromMicroservice}} </h2>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="tipoDocumento">Tipo de documento *</label>
          <select class="form-control" id="tipoDocumento" name="tipoDocumento">
            <option value="dni">DNI</option>
            <option value="pasaporte">Pasaporte</option>
            <option value="cedula">Cédula Extranjeria</option>
          </select>
        </div>

        <div class="form-group col-md-6">
          <label for="nroDocumento">Nro de documento *</label>
          <input type="text" class="form-control" id="nroDocumento" name="nroDocumento">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="nombres">Nombres *</label>
          <input type="text" class="form-control" id="nombres" name="nombres">
        </div>

        <div class="form-group col-md-6">
          <label for="apellidos">Apellidos *</label>
          <input type="text" class="form-control" id="apellidos" name="apellidos">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="telefonoCelular">Teléfono celular *</label>
          <input type="tel" class="form-control" id="telefonoCelular" name="telefonoCelular">
        </div>

        <div class="form-group col-md-6">
          <label for="telefonoFijo">Teléfono fijo</label>
          <input type="tel" class="form-control" id="telefonoFijo" name="telefonoFijo">
        </div>
      </div>
      <div class="form-group">
        <label for="correoElectronico">Correo Electrónico *</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>

      <div class="form-group">
        <label for="inputPassword5" class="form-label">Password *</label>
        <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" placeholder="********">
        <div id="passwordHelpBlock" class="form-text" >
         <p style="font-size: 12px"> Su contraseña debe tener entre 8 y 20 caracteres, contener letras y números, y no debe contener espacios, caracteres especiales ni emoji.</p>     
        </div>
      </div>

        <p class="badge text-danger">Todos los campos marcados con *  son obligatorios</p>
      <div class="form-row ">
        <div class="form-group col-md-6">
          <button type="submit" class="btn btn-success">Registrarse</button>  
          </div>
          <div class="form-group col-md-6">
          <button [routerLink]="[ '/', 'login' ]" class="btn btn-secondary">Cancelar</button>
        </div>
      </div>
    
    </form>
  </div>

</body>
</html>